.header {
    background:white;
    color: black;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo{
    color: black;
    text-decoration: none;
    font-size: 2rem;
}

.header-utilities nav {
    width: 30%;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav__link {
    color: black;
    text-decoration: none;
}


.header-nav__button {
    border: none;
    background: transparent;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

body{
    background-color:#F5F5F5;
}

small {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
}