.attendance__alert--success {
    padding: 10px 30px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
}

.alert__message {
    color: #842029;
    text-align: center;
    font-size: 2rem;
}

.attendance__alert p{
    text-align: center;
    margin-top: 2rem;
    font-size: 1.3rem;
}

.attendance__panel,.rest__panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
    max-width: 1230px;
    text-align: center;
}

.attendance__button-submit , .rest__button-submit{
    height: 90%;
    padding:2rem 10rem;
    border: none;
    border-radius: 3px;
    background:white;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    cursor: pointer;
    margin-bottom: 25%;
}

.attendance__content {
    display: flex;
    justify-content: center;
    width: 100%;
}

.attendance-table {
    margin: 30px auto;
    width: 70%;
    text-align: center;
}

.attendance-table__inner {
    width: 100%;
}

.attendance-table__row {
    border-bottom: 1px solid #ddd;
}

.attendance-table__header {
    padding: 12px;
    width: 20%;
    font-weight: bold;
}

.attendance-table__item {
    padding: 12px;
    width: 20%;
}